/* Styles généraux */
.body {
    font-family: 'Roboto', serif;
}

html {
    background: #1F1B24;
}

.content {
    color: white;
    width: 90%;
    margin: 50px auto;
    animation-name: BottomToTop;
    animation-duration: 2s;
}

@keyframes BottomToTop {
    from {
        margin-top: 100%;
    }
    to {
        margin-top: 50px;
    }
}

.content h1 {
    font-size: 2em;
}

.content h2 {
    font-size: 1.7em;
}

.content p {
    font-size: 1.15em;
    text-align: justify;
}

@media (max-width: 700px) {
    .content{
        margin-top: 0;
        width: 90%;
        animation-name: BottomToTop;
        animation-duration: 2s;
    }

    @keyframes BottomToTop {
        from {
            margin-top: 100%;
        }
        to {
            margin-top: 0;
            width: 90%;
        }
    }

    .content li{
        font-size: 0.75em;
    }

    .content ul {
        padding: 0.5em;
    }
}

/* Gestion de Navigation.jsx */
header::after {
    content: '';
    display: table;
    clear: both;
}

header {
    background: #8ab576;
}

.navigation {
    color: #6b5b4f;
    width: 90%;
    margin: 0 auto;
}

.navbar {
    float: right;
    margin: 0 auto;
}

.navigation-list {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.navigation-list-element {
    float: right;
    list-style-type: none;
}

.navigation-list-element a {
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #6b5b4f;
}

.navigation-list-element a:hover {
    color: #ffe3cf;
    transition: ease-in-out 0.5s;
}

.navigation-logo {
    margin-top: 10px;
    float: left;
}

.navigation-logo-detail {
    width: 75px;
    height: auto;
    border-radius: 15px;
    transition: 1s;
}

.navigation-logo-detail:hover {
    border-radius: 50%;
    transition: 0.25s;
}

.navigation-logo a {
    text-decoration: none;
    font-size: 3em;
}

.navigation-button-container {
    display: none;
}

/* Navbar pour écran supérieur à 700px */
@media (min-width: 700px) {
    .navbar {
        margin: 0;
        padding: 0;
    }

    .navigation-list {
        padding-top: 23px;
    }

    .navigation-list-element {
        margin: auto 15px auto 15px;
    }
}

/* Navbar pour écran inférieur à 700px */
@media (max-width: 700px) {

    .navigation {
        width: 90%;
    }

    .navbar {
        width: 90%;
        display: block;
    }

    .navigation-button-container {
        display: block;
        position: absolute;
        right: 10px;
        top: 27px;
    }

    .navigation-button {
        outline: none;
        height: 40px;
        width: 130px;
        font-size: 20px;
        color: #6b5b4f;
        background: transparent;
        border: 1px solid #6b5b4f;
        border-radius: 40px;
        cursor: pointer;
        letter-spacing: 1px;

        transition: all ease 0.75s;
    }

    .navigation-button:hover {
        background-color: #6b5b4f;
        color: #EDEFF1;
    }

    .navigation-list {
        font-size: 19px;
        flex-direction: column;
        width: 90%;
        height: 100px;
    }

    /* Prend le rôle de container, effet button */
    .navigation-list {
        position: relative;
    }

    .navigation-list::before{
        content: "";
        width: 3px;
        height: 0;
        background: #6b5b4f;
        margin-right: 5px;
        margin-left: 10px;
        position: absolute;
        animation: lineup 3s forwards;
    }

    .nav-link {
        padding-right: 40px;
        color: #6b5b4f;
        transition: ease-in-out .5s;
    }

    .nav-link:hover {
        color: #edaf02;
        transition: ease-in-out .5s;
    }

    @keyframes lineup {100% {height: 100px}}
}

@media (max-width: 305px) {
    .navigation-list-element a {
        font-size: 0.71em;
    }
}
/*Gestion de Footer.jsx */
.footer {
    background: #8ab576;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.footer-list {
    margin-right: 144px;
}

.footer-list-element {
    display: inline-block;
}

.footer-list-element a{
    text-decoration: none;
    color: #6b5b4f;
    margin-left: 30px;
    transition: ease-in-out .5s;
}

.footer-list-element a:hover {
    color: #ffe3cf;
    transition: ease-in-out .5s;
}

/* Gestion de footer.jsx pour écran inf à 560px */
@media (max-width: 560px) {

    .footer {
        text-align: unset;
    }

    .footer-list {
        margin-right: auto;
    }

    .footer-list-element {
        display: flex;
    }

    .footer-list-element a {
        margin: 2px auto 2px 0;
        font-size: .6em;
    }
}

/* Gestion de Home.jsx */

.home {
    margin-top: 2.5%;
    align-items: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 700px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/background-main.jpeg") no-repeat center;
}

.home:hover {
    background: linear-gradient(rgba(232, 232, 219, 0.5),rgba(232, 232, 219, 0.5)), url("../images/background-main.jpeg") no-repeat center;
}

.home-detail {
    height: 700px;
    border: 1px solid transparent;
    width: 100%;
    margin: 0 auto;
    color: white;
    text-align: center;
    position: relative;
    transition: ease-in-out .5s;
}

.home-detail:hover {
    color: black;
    transition: ease-in-out .5s;
}

.home-detail h1 {
    font-size: 4em;
    margin-top: 250px;
}

.home-detail a {
    padding: 2px 8px 2px 8px;
    border-radius: 15px;
    border: 1px solid #8ab576;
    background: #8ab576;
    text-decoration: none;
    color: black;
    transition: ease-in-out .5s;
}

.home-detail a:hover {
    font-weight: bold;
    background: #1F1B24;
    color: #8ab576;
    transition: ease-in-out .5s;
}


@media (max-height: 850px) {
    .home {
        margin-top: 10%;
        margin-bottom: min(100px, 25%);
        height: 400px;
    }

    .home-detail {
        height: 400px;
    }

    .home-detail h1 {
        margin-top: 110px;
        font-size: 2.7em;
    }

    .home-detail h2 {
        font-size: 1.2em;
    }
}

/* gestion de Routes.jsx */

/* Parcours Jaune */
.yellow-route {
    margin-top: 2%;
    align-items: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/yellow-course.jpg") no-repeat center;
}

.yellow-route:hover {
    background: linear-gradient(rgba(232, 232, 219, 0.5),rgba(232, 232, 219, 0.5)), url("../images/yellow-course.jpg") no-repeat center;
}

/* Parcours Vert */
.green-route {
    margin-top: 2%;
    align-items: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/green-course.jpg") no-repeat center;
}

.green-route:hover {
    background: linear-gradient(rgba(232, 232, 219, 0.5),rgba(232, 232, 219, 0.5)), url("../images/green-course.jpg") no-repeat center;
}

/* Parcours bleu */
.blue-route {
    margin-top: 2%;
    align-items: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/blue-course.jpg") no-repeat center;
}

.blue-route:hover {
    background: linear-gradient(rgba(232, 232, 219, 0.5),rgba(232, 232, 219, 0.5)), url("../images/blue-course.jpg") no-repeat center;
}

/* Parcours Violet */
.purple-route {
    margin-top: 2%;
    align-items: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/purple-course.jpg") no-repeat center;
}

.purple-route:hover {
    background: linear-gradient(rgba(232, 232, 219, 0.5),rgba(232, 232, 219, 0.5)), url("../images/purple-course.jpg") no-repeat center;
}

/* Parcours Rouge */
.red-route {
    margin-top: 2%;
    align-items: center;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 600px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/red-course.jpg") no-repeat center;
}

.red-route:hover {
    background: linear-gradient(rgba(232, 232, 219, 0.5),rgba(232, 232, 219, 0.5)), url("../images/red-course.jpg") no-repeat center;
}


/* Parcours style général */
.route-detail {
    height: 700px;
    border: 1px solid transparent;
    width: 70%;
    margin: 0 auto;
    color: white;
    text-align: center;
    position: relative;
    transition: ease-in-out .5s;
}

.route-detail:hover {
    color: black;
    transition: ease-in-out .5s;
}

.route-detail h1 {
    font-size: 4em;
    margin-top: 200px;
}

.route-detail a, .bottom-page-link a{
    padding: 2px 8px 2px 8px;
    border-radius: 15px;
    border: 1px solid #8ab576;
    background: #8ab576;
    text-decoration: none;
    color: black;
    transition: ease-in-out .5s;
}

.route-detail a:hover, .bottom-page-link a:hover {
    font-weight: bold;
    background: #1F1B24;
    color: #8ab576;
    transition: ease-in-out .5s;
}

.bottom-page-link {
    text-align: center;
    margin-bottom: 8%;
}

@media (max-height: 850px) {
    .yellow-route, .green-route, .blue-route, .purple-route, .red-route {
        width: 75%;
        margin-top: 10%;
        margin-bottom: min(100px, 25%);
        height: 400px;
    }

    .route-detail {
        height: 400px;
    }

    .route-detail h1 {
        margin-top: 110px;
        font-size: 2.7em;
    }

    .route-detail h2 {
        font-size: 1.2em;
    }

    .bottom-page-link {
        margin-bottom: 115px;
    }
}

